.del{
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  float: right;
  cursor: pointer;
}

.todo{
  background: white;
  padding: 10px;
  border-bottom: 1px dotted;
}

.isComplete{
  text-decoration: line-through;
}
